body {
	box-shadow: none;
}

header {
	margin: 0;
	color: var(--off-white);
	border-bottom: 1px solid var(--the-accent);
	background-color: transparent;
}

.navbar {
	background-color: var(--off-white);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}