:root {
	--off-white: #fdf9fc;
	--the-dark: #191f25;
	--the-accent: #c3251c;
	--the-grey: #e5e5e5;
}

/* 1. Generals */

body {
	margin-top: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
}

main {
	background-color: var(--off-white);
	font-family: Trebuchet MS, sans-serif;
	text-align: justify;
	margin: 0;
	padding: 5vw;
	padding-top: 3vh;
	padding-bottom: 4vh;
}

h1, h2, h3, h4 {
	font-family: Arial, sans-serif;
	margin: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

main h1, h2 {
	color: var(--the-accent);
}

header h1 {
	text-align: center;
	font-size: calc(3vw + 50px);
	padding-left: 8vw;
	padding-right: 8vw;
}

header h3 {
	display: inline-block;
	font-size: x-large;
    margin: 0.5vw;
}

/* 2. Header */

header {
	margin: 0;
	background-color: var(--off-white);
	color: var(--off-white);
	border-bottom: 1px solid var(--the-accent)
}

.logo {
	width: 15vw;
	position: absolute;
	top: 10vh;
	left: 10vw;
	transform: translate(-40%, -25%);
	min-width: 150px;
}

.head-img {
	width: 100%;
}

header a {
	color: var(--the-accent);
    text-decoration: none;
}

header a:hover {
	color: var(--the-dark);
	cursor: pointer;
}

.navbar {
	text-align: center;
}

.navbar a {
	width: 20%;
	min-width: 100px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

/* 4. Footer */

footer {
	position: relative;
	background-color: var(--off-white);
	color: var(--the-accent);
	font-family: Arial, sans-serif;
	height: 6em;
	line-height: 6em;
	padding-left: 5vw;
	border-top: 1px solid var(--the-accent)
}