@media handheld,
screen and (max-width: 1000px) {
        h1 {
        font-size: xxx-large;
    }

    main {
        font-size: xx-large;
    }

    event {
        min-width: 80%;
    }

    event .name {
        font-size: xxx-large;
    }

    event .date {
        font-size: xx-large;
    }

    event .time {
        font-size: x-large;
    }

    event .detail {
        font-size: xx-large;
    }

    tile:hover {
        position: absolute;
        z-index: 100;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%) scale(2);
        -webkit-transform: translate(-50%, -50%) scale(2);
        -ms-transform: translate(-50%, -50%) scale(2);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
    }

    tile p {
        font-size: small;
    }
}