<footer>
    <img src="/img/logo-circle.png" style="height: 2em; padding: 2em; float: left;">
    © Outdoor Club 2022. Coded by J Howells, hosted by GitHub. If you're here to edit or maintain the site <a href="https://github.com/icoutdoor/icoutdoor.github.io/blob/main/README.md">here</a> is the info.
</footer>

<script>
    Array.prototype.random = function () {
        return this[Math.floor((Math.random()*this.length))];
    }

    const img_loc = document.getElementById('big-img');
    const images =  ['boulder.JPG', 'boulder-2.JPG', 'tryfan.jpg'];

    if (img_loc.class[0] == "head-img") {
        img_loc.src = '/img/headers/' + images.random();
    } else {
        img_loc.style = "background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-image: url('/img/headers/" + images.random(); + "');";
    }

</script>
</body>
</html>
