<!doctype html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="viewport">
        <title>Outdoor Club</title>
        <link rel="shortcut icon" href="/img/logo.png">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/pages.css">
        <link rel="stylesheet" href="/mobile.css">
    </head>

    <body id="big-img">
        <header>
            <img class="logo" src="/img/logo.png">
            <a href="/index.html"><h1>IC OUTDOOR CLUB</h1></a>
            <div class="navbar">
                <a href="/about.html"><h3>About Us</h3></a>
                <a href="/committee.html"><h3>Meet the Committee</h3></a>
                <a href="/events.html"><h3>What's On</h3></a>
                <a href="/trips.html"><h3>Trip Reports</h3></a>
            </div>
        </header>