<!doctype html>
<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <title>Outdoor Club</title>
        <link rel="shortcut icon" href="/img/logo.png">
        <link rel="stylesheet" href="/main.css">
        <!-- <link media="only screen and (max-width: 1000px)" href="small-device.css"/> -->
    </head>

    <body>
        <header>
            <div class="navbar">
                <a href="/about.html"><h3>About Us</h3></a>
                <a href="/committee.html"><h3>Meet the Committee</h3></a>
                <a href="/events.html"><h3>What's On</h3></a>
                <a href="/trips.html"><h3>Trip Reports</h3></a>
            </div>
        </header>

        <main style="text-align: center;">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </main>

{% include footer.html %}